<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.msk.connexientplugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>msk-connexient-plugin</name>
    <js-module name="msk-connexient-plugin" src="www/msk-connexient-plugin.js">
        <clobbers target="cordova.plugins.connexient" />
    </js-module>

    <hook type="before_plugin_install" src="hooks/installDependencies.js" />
	<hook type="before_plugin_install" src="hooks/unzipAndCopyAssets.js" />

    <!-- Preferences -->
    <!--<preference name="CONNEXIENT_APIKEY" />-->
    <preference name="GOOGLEMAPS_APIKEY" />
    <preference name="NSLOCATIONWHENINUSEUSAGEDESCRIPTION" default="Need location access to find things nearby" />
    <preference name="NSLOCATIONALWAYSANDWHENINUSEUSAGEDESCRIPTION" default="Need location access to find things nearby in background" />
    <preference name="NSBLUETOOTHALWAYSUSAGEDESCRIPTION" default="Need bluetooth to comunicate with devices nearby"/>
    <!-- END Preferences -->

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MSKConnexientPlugin">
                <param name="ios-package" value="MSKConnexientPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/MSKConnexientPlugin.m" />

        <!-- SDK files -->
        <framework src="src/ios/libs/ConnexientAnalyticsKit.framework" embed="true" custom="true" />
        <framework src="src/ios/libs/ConnexientKit.framework" embed="true" custom="true" />
        <framework src="src/ios/libs/ConnexientLocationKit.framework" embed="true" custom="true" />
        <framework src="src/ios/libs/ConnexientMapKit.framework" embed="true" custom="true" />
        <framework src="src/ios/libs/ConnexientUI.framework" embed="true" custom="true" />
        <!-- END SDK files -->


        <!-- Info.plist - UIBackgroundModes -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
                <string>location</string>
            </array>
        </config-file>
        <!-- END Info.plist - UIBackgroundModes -->

        <!-- Info.plist - LSApplicationQueriesSchemes -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>googlechromes</string>
                <string>comgooglemaps</string>
                <string>waze</string>
            </array>
        </config-file>
        <!-- END Info.plist - LSApplicationQueriesSchemes -->
        
        <!-- Info.plist - LSApplicationQueriesSchemes -->
        <config-file target="*-Info.plist">
            <key>UIStatusBarHidden</key>
            <string>false</string>
            <key>UIViewControllerBasedStatusBarAppearance</key>
            <string>false</string>
        </config-file>
        <!-- END Info.plist - LSApplicationQueriesSchemes -->

        <!-- Info.xml Permissions -->
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$NSLOCATIONWHENINUSEUSAGEDESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$NSLOCATIONALWAYSANDWHENINUSEUSAGEDESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>$NSBLUETOOTHALWAYSUSAGEDESCRIPTION</string>
        </config-file>
        <!-- Info.xml Permissions -->


        <!-- Assets -->
        <!-- not using the <asset> tag as it places the file in the wrong directory-->
        <resource-file src="assets/2938FCBC-163F-4BF0-8CB2-55BD7AD912D1.txt" />
        <resource-file src="assets/2938FCBC-163F-4BF0-8CB2-55BD7AD912D1.zip" /> 
        <resource-file src="assets/ConnexientVenueMapping.plist" />
        <!-- END Assets -->

    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MSKConnexientPlugin">
                <param name="android-package" value="com.msk.connexientplugin.MSKConnexientPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MSKConnexientPlugin.java" target-dir="src/com/msk/connexientplugin/MSKConnexientPlugin" />

         <config-file target="../../config.xml" parent="/widget">
            <custom-preference name="android-manifest/@xmlns:tools" value="http://schemas.android.com/tools" />
        </config-file>

        <!-- SDK files -->
        <resource-file src="src/android/libs/cxt-anx-debug.aar" target="libs/cxt-anx-debug.aar" />
        <resource-file src="src/android/libs/cxt-anx-release.aar" target="libs/cxt-anx-release.aar" />
        <resource-file src="src/android/libs/cxt-core-debug.aar" target="libs/cxt-core-debug.aar" />
        <resource-file src="src/android/libs/cxt-core-release.aar" target="libs/cxt-core-release.aar" />
        <resource-file src="src/android/libs/cxt-data-debug.aar" target="libs/cxt-data-debug.aar" />
        <resource-file src="src/android/libs/cxt-data-release.aar" target="libs/cxt-data-release.aar" />
        <resource-file src="src/android/libs/cxt-loc-debug.aar" target="libs/cxt-loc-debug.aar" />
        <resource-file src="src/android/libs/cxt-loc-release.aar" target="libs/cxt-loc-release.aar" />
        <resource-file src="src/android/libs/cxt-map-debug.aar" target="libs/cxt-map-debug.aar" />
        <resource-file src="src/android/libs/cxt-map-release.aar" target="libs/cxt-map-release.aar" />
        <resource-file src="src/android/libs/cxt-sdk-debug.aar" target="libs/cxt-sdk-debug.aar" />
        <resource-file src="src/android/libs/cxt-sdk-release.aar" target="libs/cxt-sdk-release.aar" />
        <resource-file src="src/android/libs/cxt-vg-debug.aar" target="libs/cxt-vg-debug.aar" />
        <resource-file src="src/android/libs/cxt-vg-release.aar" target="libs/cxt-vg-release.aar" />
        <resource-file src="src/android/libs/libVisioMove.aar" target="libs/libVisioMove.aar" />
        <resource-file src="src/android/libs/mynmsdklibrary-debug.aar" target="libs/mynmsdklibrary-debug.aar" />
        <resource-file src="src/android/libs/mynmsdklibrary-release.aar" target="libs/mynmsdklibrary-release.aar" />
        <!-- END SDK files -->

        <!-- AndroidManifiest.xml Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
            <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
            <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />-->
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
            <uses-permission android:name="android.hardware.place.gps" />
        </config-file>
        <!-- END AndroidManifiest.xml -->

        <!-- AndroidManifiest.xml Meta data -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                tools:replace="android:value"
                android:name="com.google.android.geo.API_KEY"
                android:value="$GOOGLEMAPS_APIKEY" />
        </config-file>
        <!-- END AndroidManifiest.xml Meta data -->

         <!-- AndroidManifiest.xml Application attributes -->
        <!--<config-file target="../../config.xml" parent="/widget/platform[@name='android']">
            <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
                <application android:theme="@style/Theme.AppCompat.Light" />
            </edit-config>
        </config-file>-->

         <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:label='@string/activity_name']" mode="merge">
            <activity android:theme="@android:style/Theme.AppCompat.Light"></activity>
        </edit-config>
       
        <!-- END AndroidManifiest.xml Application attributes -->

        <!-- Assets -->
        <!-- not using the <asset> tag as it places the file in the wrong directory-->
        <resource-file src="assets/cxtsdk" target="assets/cxtsdk" />
        <resource-file src="assets/pdbs" target="assets/pdbs" />
        <resource-file src="assets/app.json" target="assets/app.json" />
        <resource-file src="assets/2938FCBC-163F-4BF0-8CB2-55BD7AD912D1.txt" target="assets/2938FCBC-163F-4BF0-8CB2-55BD7AD912D1.txt" />
        <resource-file src="assets/firebase.json" target="assets/firebase.json" />
        <resource-file src="assets/medinav3-query.db" target="assets/medinav3-query.db" />
        <resource-file src="assets/medinav3-staff.db" target="assets/medinav3-staff.db" />
        <resource-file src="assets/images.db" target="assets/images.db" />        
        <resource-file src="assets/config.json" target="assets/config.json" />
        <resource-file src="assets/ui-def-firebase.json" target="assets/ui-def-firebase.json" />
        <!-- END Assets -->

        <!-- Drawables -->
        <resource-file src="assets/app_directory_top.png" target="res/drawable/app_directory_top.png" />
        <resource-file src="assets/app_directory_top.png" target="res/drawable-port-hdpi/app_directory_top.png" />
        <!-- END Drawables -->

        <!-- Gradle -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <!-- END Gradle -->

        <dependency id="cordova-custom-config" version="^5.1.0" />
    </platform>
    
</plugin>